<form action="index.html">
  <label for="">Enter your a side</label>
  <input type="text" name="side one">
  <label for="">Enter your second side</label>
  <input type="text" name="side two">
  <label for="">Enter your third side</label>
  <input type="text" name="side three">
</form>
